# BIG DATA ANALYTICS AND RNN IN BANANA PRICE FORECASTING

## STOP ANY ACTIVE SPARK SESSION

In [1]:
from pyspark.sql import SparkSession

# Stop all active Spark sessions
SparkSession.builder.getOrCreate().stop()

## Import all the necessary libraries

In [2]:
import warnings
warnings.filterwarnings("ignore")
from pyspark.ml import Pipeline
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
#List the contents of the root directory in HDFS
!hdfs dfs -ls /

Found 5 items
-rwxrwxrwx   1 hduser supergroup    1114475 2024-03-27 10:39 /CPM04.20240327101259.csv
-rwxrwxrwx   1 hduser supergroup    1197604 2024-03-27 10:39 /CPM12.20240327101308.csv
drwxr-xr-x   - hduser supergroup          0 2024-03-07 10:06 /output1
drwxr-xr-x   - hduser supergroup          0 2024-03-07 13:14 /output2
drwxr-xr-x   - hduser supergroup          0 2024-03-14 14:03 /user1

## Preprocessing Data using Spark
This process involves a series of steps. They include:-
1. Loading 2 CSV files on national average prices of food data stored in hadoop.

2. Data Exploration: Perform exploratory data analysis (EDA) 

3. Data integration, merging the two csv datasets

4. Data Export: Export the preprocessed data to hadoop for storage

## Initialize Spark Session

In [4]:
spark = SparkSession.builder \
    .appName("Hadoop to python") \
    .getOrCreate()

## Step one: Load the data from hadoop using spark

In [5]:
#The two datasets hadoop path
dataset_one = "hdfs://localhost:9000/CPM04.20240327101259.csv"
dataset_two = "hdfs://localhost:9000/CPM12.20240327101308.csv"

#Create spark DataFrames for the two datasets
df_one = spark.read.csv(dataset_one, header=True, inferSchema=True)
df_two = spark.read.csv(dataset_two, header=True, inferSchema=True)

#View the two DataFRames
df_one, df_two

(DataFrame[STATISTIC: string, Statistic Label: string, C02363V02844: int, Consumer Item: string, TLIST(M1): int, Month: string, UNIT: string, VALUE: double],
 DataFrame[STATISTIC: string, STATISTIC Label: string, TLIST(M1): int, Month: string, C02363V03422: int, Consumer Item: string, UNIT: string, VALUE: double])

## Step Two: Performing Explorartory Data Analysis (EDA)

In [6]:
#View the first two observations of dataset one
df_one.head(2)

[Row(STATISTIC='CPM04', Statistic Label='National Average  Price', C02363V02844=10010, Consumer Item='Round steak per kg.', TLIST(M1)=200112, Month='2001M12', UNIT='Euro', VALUE=8.414),
 Row(STATISTIC='CPM04', Statistic Label='National Average  Price', C02363V02844=10010, Consumer Item='Round steak per kg.', TLIST(M1)=200201, Month='2002M01', UNIT='Euro', VALUE=8.696)]

In [7]:
#View the first two observations fo dataset two 
df_two.head(2)

[Row(STATISTIC='CPM12', STATISTIC Label='National Average Price', TLIST(M1)=201112, Month='2011 December', C02363V03422=10020, Consumer Item='White, self raising flour per 2 kg', UNIT='Euro', VALUE=None),
 Row(STATISTIC='CPM12', STATISTIC Label='National Average Price', TLIST(M1)=201112, Month='2011 December', C02363V03422=10030, Consumer Item='Brown, wholemeal flour per 2 kg', UNIT='Euro', VALUE=None)]

In [8]:
#Get the Schema for dataset one
df_one.printSchema()

root
 |-- STATISTIC: string (nullable = true)
 |-- Statistic Label: string (nullable = true)
 |-- C02363V02844: integer (nullable = true)
 |-- Consumer Item: string (nullable = true)
 |-- TLIST(M1): integer (nullable = true)
 |-- Month: string (nullable = true)
 |-- UNIT: string (nullable = true)
 |-- VALUE: double (nullable = true)

## Findings
Shows there is missing data in all the variables

In [9]:
#Get the Schema for dataset two
df_two.printSchema()

root
 |-- STATISTIC: string (nullable = true)
 |-- STATISTIC Label: string (nullable = true)
 |-- TLIST(M1): integer (nullable = true)
 |-- Month: string (nullable = true)
 |-- C02363V03422: integer (nullable = true)
 |-- Consumer Item: string (nullable = true)
 |-- UNIT: string (nullable = true)
 |-- VALUE: double (nullable = true)

## Findings
SHows there is missing data in all the variables

In [10]:
#Check the cahracteristics of the datasets
df_one.describe(), df_two.describe()

(DataFrame[summary: string, STATISTIC: string, Statistic Label: string, C02363V02844: string, Consumer Item: string, TLIST(M1): string, Month: string, UNIT: string, VALUE: string],
 DataFrame[summary: string, STATISTIC: string, STATISTIC Label: string, TLIST(M1): string, Month: string, C02363V03422: string, Consumer Item: string, UNIT: string, VALUE: string])

In [11]:
# Count the number of observations
dataone_count = df_one.count()

print("Number of observations:", dataone_count)

Number of observations: 10527

In [12]:
# Count the number of observations
datatwo_count = df_two.count()

print("Number of observations:", datatwo_count)

Number of observations: 11172

# Delete variables that will be unused

In [13]:
df_one.show()

+---------+--------------------+------------+-------------------+---------+-------+----+-----+
|STATISTIC|     Statistic Label|C02363V02844|      Consumer Item|TLIST(M1)|  Month|UNIT|VALUE|
+---------+--------------------+------------+-------------------+---------+-------+----+-----+
|    CPM04|National Average ...|       10010|Round steak per kg.|   200112|2001M12|Euro|8.414|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200201|2002M01|Euro|8.696|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200202|2002M02|Euro|8.643|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200203|2002M03|Euro|8.791|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200204|2002M04|Euro|8.599|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200205|2002M05|Euro|8.607|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200206|2002M06|Euro|8.742|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200207|2002M07|Euro|8.733|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200208|2002M08|Euro|8.806|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200209|2002M09|Euro|8.696|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200210|2002M10|Euro|8.838|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200211|2002M11|Euro| 8.79|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200212|2002M12|Euro|8.887|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200301|2003M01|Euro|  8.9|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200302|2003M02|Euro|8.399|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200303|2003M03|Euro|8.876|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200304|2003M04|Euro| 8.87|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200305|2003M05|Euro|8.669|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200306|2003M06|Euro|8.263|
|    CPM04|National Average ...|       10010|Round steak per kg.|   200307|2003M07|Euro|8.899|
+---------+--------------------+------------+-------------------+---------+-------+----+-----+
only showing top 20 rows

In [14]:
#Drop all columns except month, consumer item and VALUE)
df_one = df_one.drop("STATISTIC","STATISTIC Label","TLIST(M1)","UNIT","C02363V02844")
df_one.show()

+-------------------+-------+-----+
|      Consumer Item|  Month|VALUE|
+-------------------+-------+-----+
|Round steak per kg.|2001M12|8.414|
|Round steak per kg.|2002M01|8.696|
|Round steak per kg.|2002M02|8.643|
|Round steak per kg.|2002M03|8.791|
|Round steak per kg.|2002M04|8.599|
|Round steak per kg.|2002M05|8.607|
|Round steak per kg.|2002M06|8.742|
|Round steak per kg.|2002M07|8.733|
|Round steak per kg.|2002M08|8.806|
|Round steak per kg.|2002M09|8.696|
|Round steak per kg.|2002M10|8.838|
|Round steak per kg.|2002M11| 8.79|
|Round steak per kg.|2002M12|8.887|
|Round steak per kg.|2003M01|  8.9|
|Round steak per kg.|2003M02|8.399|
|Round steak per kg.|2003M03|8.876|
|Round steak per kg.|2003M04| 8.87|
|Round steak per kg.|2003M05|8.669|
|Round steak per kg.|2003M06|8.263|
|Round steak per kg.|2003M07|8.899|
+-------------------+-------+-----+
only showing top 20 rows

In [15]:
df_two.show()

+---------+--------------------+---------+-------------+------------+--------------------+----+-----+
|STATISTIC|     STATISTIC Label|TLIST(M1)|        Month|C02363V03422|       Consumer Item|UNIT|VALUE|
+---------+--------------------+---------+-------------+------------+--------------------+----+-----+
|    CPM12|National Average ...|   201112|2011 December|       10020|White, self raisi...|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10030|Brown, wholemeal ...|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10040|Bread, white slic...|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10050|Bread, brown slic...|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10190|  Spaghetti per 500g|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10280|Sirloin steak per kg|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10290|Striploin steak p...|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10300|Roast beef - tops...|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10310|Sliced / diced be...|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10320|Pork loin chops p...|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10330|   Pork steak per kg|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10340|Lamb - whole leg ...|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10350|Lamb loin chops p...|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10360|Lamb gigot chops ...|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10370|Uncooked chicken ...|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10400| Lamb's liver per kg|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10410|   Ham fillet per kg|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10420|   Cooked ham per kg|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10440|Best back rashers...|Euro| null|
|    CPM12|National Average ...|   201112|2011 December|       10450|Pork sausages per kg|Euro| null|
+---------+--------------------+---------+-------------+------------+--------------------+----+-----+
only showing top 20 rows

In [16]:
#Drop all columns except month, consumer item and VALUE)
df_two = df_two.drop("STATISTIC","STATISTIC Label","TLIST(M1)","UNIT","C02363V03422")
df_two.show()

+-------------+--------------------+-----+
|        Month|       Consumer Item|VALUE|
+-------------+--------------------+-----+
|2011 December|White, self raisi...| null|
|2011 December|Brown, wholemeal ...| null|
|2011 December|Bread, white slic...| null|
|2011 December|Bread, brown slic...| null|
|2011 December|  Spaghetti per 500g| null|
|2011 December|Sirloin steak per kg| null|
|2011 December|Striploin steak p...| null|
|2011 December|Roast beef - tops...| null|
|2011 December|Sliced / diced be...| null|
|2011 December|Pork loin chops p...| null|
|2011 December|   Pork steak per kg| null|
|2011 December|Lamb - whole leg ...| null|
|2011 December|Lamb loin chops p...| null|
|2011 December|Lamb gigot chops ...| null|
|2011 December|Uncooked chicken ...| null|
|2011 December| Lamb's liver per kg| null|
|2011 December|   Ham fillet per kg| null|
|2011 December|   Cooked ham per kg| null|
|2011 December|Best back rashers...| null|
|2011 December|Pork sausages per kg| null|
+-------------+--------------------+-----+
only showing top 20 rows

## Drop from consumer Item, everything except bananas

In [17]:
bananaprice_one = df_one.filter(df_one["Consumer Item"] == "Bananas per kg.")
bananaprice_two = df_two.filter(df_two["Consumer Item"] == "Bananas per kg")

In [18]:
bananaprice_one.show(), bananaprice_two.show()

+---------------+-------+-----+
|  Consumer Item|  Month|VALUE|
+---------------+-------+-----+
|Bananas per kg.|2001M12|1.685|
|Bananas per kg.|2002M01|1.691|
|Bananas per kg.|2002M02| 1.67|
|Bananas per kg.|2002M03|1.496|
|Bananas per kg.|2002M04|1.669|
|Bananas per kg.|2002M05|1.623|
|Bananas per kg.|2002M06|1.652|
|Bananas per kg.|2002M07|1.652|
|Bananas per kg.|2002M08|1.664|
|Bananas per kg.|2002M09|1.677|
|Bananas per kg.|2002M10|1.694|
|Bananas per kg.|2002M11|1.694|
|Bananas per kg.|2002M12|1.693|
|Bananas per kg.|2003M01|1.674|
|Bananas per kg.|2003M02|1.671|
|Bananas per kg.|2003M03|1.489|
|Bananas per kg.|2003M04| 1.62|
|Bananas per kg.|2003M05|1.513|
|Bananas per kg.|2003M06| 1.42|
|Bananas per kg.|2003M07|1.459|
+---------------+-------+-----+
only showing top 20 rows

+--------------+--------------+-----+
|         Month| Consumer Item|VALUE|
+--------------+--------------+-----+
| 2011 December|Bananas per kg| null|
|  2012 January|Bananas per kg| 1.33|
| 2012 February|Bananas per kg|1.359|
|    2012 March|Bananas per kg|1.371|
|    2012 April|Bananas per kg|1.362|
|      2012 May|Bananas per kg|1.375|
|     2012 June|Bananas per kg|1.364|
|     2012 July|Bananas per kg|1.355|
|   2012 August|Bananas per kg|1.369|
|2012 September|Bananas per kg| 1.38|
|  2012 October|Bananas per kg|1.356|
| 2012 November|Bananas per kg|1.368|
| 2012 December|Bananas per kg|1.373|
|  2013 January|Bananas per kg|1.369|
| 2013 February|Bananas per kg|1.368|
|    2013 March|Bananas per kg|1.394|
|    2013 April|Bananas per kg|1.375|
|      2013 May|Bananas per kg|1.377|
|     2013 June|Bananas per kg|1.374|
|     2013 July|Bananas per kg|1.376|
+--------------+--------------+-----+
only showing top 20 rows

(None, None)

## Step Three: Data Integration. Merging the two datasets into one

In [19]:
# Rename columns in df1 to match columns in df2
rename_mapping = {
    "VALUE": "National Average Price(Euros)"
    # Add more mappings as needed
}
for old_col, new_col in rename_mapping.items():
    bananaprice_one = bananaprice_one.withColumnRenamed(old_col, new_col)

In [20]:
# Rename columns in df1 to match columns in df2
rename_mapping = {
    "VALUE":"National Average Price(Euros)"
}
for old_col, new_col in rename_mapping.items():
    bananaprice_two = bananaprice_two.withColumnRenamed(old_col, new_col)

In [21]:
bananaprice_one.show(), bananaprice_two.show()

+---------------+-------+-----------------------------+
|  Consumer Item|  Month|National Average Price(Euros)|
+---------------+-------+-----------------------------+
|Bananas per kg.|2001M12|                        1.685|
|Bananas per kg.|2002M01|                        1.691|
|Bananas per kg.|2002M02|                         1.67|
|Bananas per kg.|2002M03|                        1.496|
|Bananas per kg.|2002M04|                        1.669|
|Bananas per kg.|2002M05|                        1.623|
|Bananas per kg.|2002M06|                        1.652|
|Bananas per kg.|2002M07|                        1.652|
|Bananas per kg.|2002M08|                        1.664|
|Bananas per kg.|2002M09|                        1.677|
|Bananas per kg.|2002M10|                        1.694|
|Bananas per kg.|2002M11|                        1.694|
|Bananas per kg.|2002M12|                        1.693|
|Bananas per kg.|2003M01|                        1.674|
|Bananas per kg.|2003M02|                        1.671|
|Bananas per kg.|2003M03|                        1.489|
|Bananas per kg.|2003M04|                         1.62|
|Bananas per kg.|2003M05|                        1.513|
|Bananas per kg.|2003M06|                         1.42|
|Bananas per kg.|2003M07|                        1.459|
+---------------+-------+-----------------------------+
only showing top 20 rows

+--------------+--------------+-----------------------------+
|         Month| Consumer Item|National Average Price(Euros)|
+--------------+--------------+-----------------------------+
| 2011 December|Bananas per kg|                         null|
|  2012 January|Bananas per kg|                         1.33|
| 2012 February|Bananas per kg|                        1.359|
|    2012 March|Bananas per kg|                        1.371|
|    2012 April|Bananas per kg|                        1.362|
|      2012 May|Bananas per kg|                        1.375|
|     2012 June|Bananas per kg|                        1.364|
|     2012 July|Bananas per kg|                        1.355|
|   2012 August|Bananas per kg|                        1.369|
|2012 September|Bananas per kg|                         1.38|
|  2012 October|Bananas per kg|                        1.356|
| 2012 November|Bananas per kg|                        1.368|
| 2012 December|Bananas per kg|                        1.373|
|  2013 January|Bananas per kg|                        1.369|
| 2013 February|Bananas per kg|                        1.368|
|    2013 March|Bananas per kg|                        1.394|
|    2013 April|Bananas per kg|                        1.375|
|      2013 May|Bananas per kg|                        1.377|
|     2013 June|Bananas per kg|                        1.374|
|     2013 July|Bananas per kg|                        1.376|
+--------------+--------------+-----------------------------+
only showing top 20 rows

(None, None)

In [22]:
# Selecting columns in the same order
bananaprice_one = bananaprice_one.select("Consumer Item", "Month", "National Average Price(Euros)")
bananaprice_two = bananaprice_two.select("Consumer Item", "Month", "National Average Price(Euros)")

# Performing the union operation
merged_df = bananaprice_one.union(bananaprice_two)

# Displaying the results
merged_df.show(truncate=False)

+---------------+-------+-----------------------------+
|Consumer Item  |Month  |National Average Price(Euros)|
+---------------+-------+-----------------------------+
|Bananas per kg.|2001M12|1.685                        |
|Bananas per kg.|2002M01|1.691                        |
|Bananas per kg.|2002M02|1.67                         |
|Bananas per kg.|2002M03|1.496                        |
|Bananas per kg.|2002M04|1.669                        |
|Bananas per kg.|2002M05|1.623                        |
|Bananas per kg.|2002M06|1.652                        |
|Bananas per kg.|2002M07|1.652                        |
|Bananas per kg.|2002M08|1.664                        |
|Bananas per kg.|2002M09|1.677                        |
|Bananas per kg.|2002M10|1.694                        |
|Bananas per kg.|2002M11|1.694                        |
|Bananas per kg.|2002M12|1.693                        |
|Bananas per kg.|2003M01|1.674                        |
|Bananas per kg.|2003M02|1.671                        |
|Bananas per kg.|2003M03|1.489                        |
|Bananas per kg.|2003M04|1.62                         |
|Bananas per kg.|2003M05|1.513                        |
|Bananas per kg.|2003M06|1.42                         |
|Bananas per kg.|2003M07|1.459                        |
+---------------+-------+-----------------------------+
only showing top 20 rows

In [23]:
merged_df.show(n=merged_df.count(), truncate=False)

+---------------+--------------+-----------------------------+
|Consumer Item  |Month         |National Average Price(Euros)|
+---------------+--------------+-----------------------------+
|Bananas per kg.|2001M12       |1.685                        |
|Bananas per kg.|2002M01       |1.691                        |
|Bananas per kg.|2002M02       |1.67                         |
|Bananas per kg.|2002M03       |1.496                        |
|Bananas per kg.|2002M04       |1.669                        |
|Bananas per kg.|2002M05       |1.623                        |
|Bananas per kg.|2002M06       |1.652                        |
|Bananas per kg.|2002M07       |1.652                        |
|Bananas per kg.|2002M08       |1.664                        |
|Bananas per kg.|2002M09       |1.677                        |
|Bananas per kg.|2002M10       |1.694                        |
|Bananas per kg.|2002M11       |1.694                        |
|Bananas per kg.|2002M12       |1.693                        |
|Bananas per kg.|2003M01       |1.674                        |
|Bananas per kg.|2003M02       |1.671                        |
|Bananas per kg.|2003M03       |1.489                        |
|Bananas per kg.|2003M04       |1.62                         |
|Bananas per kg.|2003M05       |1.513                        |
|Bananas per kg.|2003M06       |1.42                         |
|Bananas per kg.|2003M07       |1.459                        |
|Bananas per kg.|2003M08       |1.456                        |
|Bananas per kg.|2003M09       |1.466                        |
|Bananas per kg.|2003M10       |1.466                        |
|Bananas per kg.|2003M11       |1.453                        |
|Bananas per kg.|2003M12       |1.438                        |
|Bananas per kg.|2004M01       |1.424                        |
|Bananas per kg.|2004M02       |1.447                        |
|Bananas per kg.|2004M03       |1.428                        |
|Bananas per kg.|2004M04       |1.352                        |
|Bananas per kg.|2004M05       |1.357                        |
|Bananas per kg.|2004M06       |1.349                        |
|Bananas per kg.|2004M07       |1.35                         |
|Bananas per kg.|2004M08       |1.373                        |
|Bananas per kg.|2004M09       |1.374                        |
|Bananas per kg.|2004M10       |1.383                        |
|Bananas per kg.|2004M11       |1.377                        |
|Bananas per kg.|2004M12       |1.373                        |
|Bananas per kg.|2005M01       |1.4                          |
|Bananas per kg.|2005M02       |1.394                        |
|Bananas per kg.|2005M03       |1.393                        |
|Bananas per kg.|2005M04       |1.366                        |
|Bananas per kg.|2005M05       |1.374                        |
|Bananas per kg.|2005M06       |1.35                         |
|Bananas per kg.|2005M07       |1.349                        |
|Bananas per kg.|2005M08       |1.344                        |
|Bananas per kg.|2005M09       |1.318                        |
|Bananas per kg.|2005M10       |1.332                        |
|Bananas per kg.|2005M11       |1.32                         |
|Bananas per kg.|2005M12       |1.338                        |
|Bananas per kg.|2006M01       |1.344                        |
|Bananas per kg.|2006M02       |1.345                        |
|Bananas per kg.|2006M03       |1.337                        |
|Bananas per kg.|2006M04       |1.339                        |
|Bananas per kg.|2006M05       |1.326                        |
|Bananas per kg.|2006M06       |1.34                         |
|Bananas per kg.|2006M07       |1.349                        |
|Bananas per kg.|2006M08       |1.348                        |
|Bananas per kg.|2006M09       |1.32                         |
|Bananas per kg.|2006M10       |1.319                        |
|Bananas per kg.|2006M11       |1.391                        |
|Bananas per kg.|2006M12       |1.441                        |
|Bananas per kg.|2007M01       |1.423                        |
|Bananas per kg.|2007M02       |1.437                        |
|Bananas per kg.|2007M03       |1.444                        |
|Bananas per kg.|2007M04       |1.453                        |
|Bananas per kg.|2007M05       |1.469                        |
|Bananas per kg.|2007M06       |1.487                        |
|Bananas per kg.|2007M07       |1.469                        |
|Bananas per kg.|2007M08       |1.468                        |
|Bananas per kg.|2007M09       |1.432                        |
|Bananas per kg.|2007M10       |1.444                        |
|Bananas per kg.|2007M11       |1.454                        |
|Bananas per kg.|2007M12       |1.442                        |
|Bananas per kg.|2008M01       |1.446                        |
|Bananas per kg.|2008M02       |1.435                        |
|Bananas per kg.|2008M03       |1.459                        |
|Bananas per kg.|2008M04       |1.462                        |
|Bananas per kg.|2008M05       |1.465                        |
|Bananas per kg.|2008M06       |1.467                        |
|Bananas per kg.|2008M07       |1.484                        |
|Bananas per kg.|2008M08       |1.478                        |
|Bananas per kg.|2008M09       |1.468                        |
|Bananas per kg.|2008M10       |1.468                        |
|Bananas per kg.|2008M11       |1.54                         |
|Bananas per kg.|2008M12       |1.557                        |
|Bananas per kg.|2009M01       |1.563                        |
|Bananas per kg.|2009M02       |1.567                        |
|Bananas per kg.|2009M03       |1.548                        |
|Bananas per kg.|2009M04       |1.534                        |
|Bananas per kg.|2009M05       |1.473                        |
|Bananas per kg.|2009M06       |1.337                        |
|Bananas per kg.|2009M07       |1.32                         |
|Bananas per kg.|2009M08       |1.332                        |
|Bananas per kg.|2009M09       |1.322                        |
|Bananas per kg.|2009M10       |1.305                        |
|Bananas per kg.|2009M11       |1.092                        |
|Bananas per kg.|2009M12       |1.072                        |
|Bananas per kg.|2010M01       |1.06                         |
|Bananas per kg.|2010M02       |1.111                        |
|Bananas per kg.|2010M03       |1.104                        |
|Bananas per kg.|2010M04       |1.122                        |
|Bananas per kg.|2010M05       |1.129                        |
|Bananas per kg.|2010M06       |1.228                        |
|Bananas per kg.|2010M07       |1.266                        |
|Bananas per kg.|2010M08       |1.263                        |
|Bananas per kg.|2010M09       |1.259                        |
|Bananas per kg.|2010M10       |1.257                        |
|Bananas per kg.|2010M11       |1.267                        |
|Bananas per kg.|2010M12       |1.242                        |
|Bananas per kg.|2011M01       |1.238                        |
|Bananas per kg.|2011M02       |1.323                        |
|Bananas per kg.|2011M03       |1.35                         |
|Bananas per kg.|2011M04       |1.335                        |
|Bananas per kg.|2011M05       |1.343                        |
|Bananas per kg.|2011M06       |1.339                        |
|Bananas per kg.|2011M07       |1.355                        |
|Bananas per kg.|2011M08       |1.357                        |
|Bananas per kg.|2011M09       |1.343                        |
|Bananas per kg.|2011M10       |1.345                        |
|Bananas per kg.|2011M11       |1.359                        |
|Bananas per kg.|2011M12       |1.32                         |
|Bananas per kg |2011 December |null                         |
|Bananas per kg |2012 January  |1.33                         |
|Bananas per kg |2012 February |1.359                        |
|Bananas per kg |2012 March    |1.371                        |
|Bananas per kg |2012 April    |1.362                        |
|Bananas per kg |2012 May      |1.375                        |
|Bananas per kg |2012 June     |1.364                        |
|Bananas per kg |2012 July     |1.355                        |
|Bananas per kg |2012 August   |1.369                        |
|Bananas per kg |2012 September|1.38                         |
|Bananas per kg |2012 October  |1.356                        |
|Bananas per kg |2012 November |1.368                        |
|Bananas per kg |2012 December |1.373                        |
|Bananas per kg |2013 January  |1.369                        |
|Bananas per kg |2013 February |1.368                        |
|Bananas per kg |2013 March    |1.394                        |
|Bananas per kg |2013 April    |1.375                        |
|Bananas per kg |2013 May      |1.377                        |
|Bananas per kg |2013 June     |1.374                        |
|Bananas per kg |2013 July     |1.376                        |
|Bananas per kg |2013 August   |1.38                         |
|Bananas per kg |2013 September|1.378                        |
|Bananas per kg |2013 October  |1.373                        |
|Bananas per kg |2013 November |1.367                        |
|Bananas per kg |2013 December |1.374                        |
|Bananas per kg |2014 January  |1.366                        |
|Bananas per kg |2014 February |1.371                        |
|Bananas per kg |2014 March    |1.375                        |
|Bananas per kg |2014 April    |1.374                        |
|Bananas per kg |2014 May      |1.372                        |
|Bananas per kg |2014 June     |1.37                         |
|Bananas per kg |2014 July     |1.373                        |
|Bananas per kg |2014 August   |1.371                        |
|Bananas per kg |2014 September|1.357                        |
|Bananas per kg |2014 October  |1.361                        |
|Bananas per kg |2014 November |1.362                        |
|Bananas per kg |2014 December |1.363                        |
|Bananas per kg |2015 January  |1.363                        |
|Bananas per kg |2015 February |1.362                        |
|Bananas per kg |2015 March    |1.361                        |
|Bananas per kg |2015 April    |1.369                        |
|Bananas per kg |2015 May      |1.362                        |
|Bananas per kg |2015 June     |1.361                        |
|Bananas per kg |2015 July     |1.363                        |
|Bananas per kg |2015 August   |1.365                        |
|Bananas per kg |2015 September|1.37                         |
|Bananas per kg |2015 October  |1.378                        |
|Bananas per kg |2015 November |1.387                        |
|Bananas per kg |2015 December |1.382                        |
|Bananas per kg |2016 January  |1.389                        |
|Bananas per kg |2016 February |1.382                        |
|Bananas per kg |2016 March    |1.385                        |
|Bananas per kg |2016 April    |1.393                        |
|Bananas per kg |2016 May      |1.396                        |
|Bananas per kg |2016 June     |1.393                        |
|Bananas per kg |2016 July     |1.399                        |
|Bananas per kg |2016 August   |1.405                        |
|Bananas per kg |2016 September|1.41                         |
|Bananas per kg |2016 October  |1.411                        |
|Bananas per kg |2016 November |1.403                        |
|Bananas per kg |2016 December |1.406                        |
|Bananas per kg |2017 January  |1.411                        |
|Bananas per kg |2017 February |1.414                        |
|Bananas per kg |2017 March    |1.407                        |
|Bananas per kg |2017 April    |1.405                        |
|Bananas per kg |2017 May      |1.413                        |
|Bananas per kg |2017 June     |1.404                        |
|Bananas per kg |2017 July     |1.406                        |
|Bananas per kg |2017 August   |1.411                        |
|Bananas per kg |2017 September|1.412                        |
|Bananas per kg |2017 October  |1.411                        |
|Bananas per kg |2017 November |1.412                        |
|Bananas per kg |2017 December |1.411                        |
|Bananas per kg |2018 January  |1.405                        |
|Bananas per kg |2018 February |1.406                        |
|Bananas per kg |2018 March    |1.405                        |
|Bananas per kg |2018 April    |1.4                          |
|Bananas per kg |2018 May      |1.399                        |
|Bananas per kg |2018 June     |1.404                        |
|Bananas per kg |2018 July     |1.404                        |
|Bananas per kg |2018 August   |1.403                        |
|Bananas per kg |2018 September|1.404                        |
|Bananas per kg |2018 October  |1.401                        |
|Bananas per kg |2018 November |1.406                        |
|Bananas per kg |2018 December |1.396                        |
|Bananas per kg |2019 January  |1.388                        |
|Bananas per kg |2019 February |1.402                        |
|Bananas per kg |2019 March    |1.401                        |
|Bananas per kg |2019 April    |1.407                        |
|Bananas per kg |2019 May      |1.407                        |
|Bananas per kg |2019 June     |1.403                        |
|Bananas per kg |2019 July     |1.404                        |
|Bananas per kg |2019 August   |1.404                        |
|Bananas per kg |2019 September|1.401                        |
|Bananas per kg |2019 October  |1.402                        |
|Bananas per kg |2019 November |1.398                        |
|Bananas per kg |2019 December |1.402                        |
|Bananas per kg |2020 January  |1.405                        |
|Bananas per kg |2020 February |1.414                        |
|Bananas per kg |2020 March    |1.418                        |
|Bananas per kg |2020 April    |1.399                        |
|Bananas per kg |2020 May      |1.373                        |
|Bananas per kg |2020 June     |1.336                        |
|Bananas per kg |2020 July     |1.476                        |
|Bananas per kg |2020 August   |1.377                        |
|Bananas per kg |2020 September|1.408                        |
|Bananas per kg |2020 October  |1.463                        |
|Bananas per kg |2020 November |1.464                        |
|Bananas per kg |2020 December |1.465                        |
|Bananas per kg |2021 January  |1.293                        |
|Bananas per kg |2021 February |1.443                        |
|Bananas per kg |2021 March    |1.443                        |
|Bananas per kg |2021 April    |1.422                        |
|Bananas per kg |2021 May      |1.531                        |
|Bananas per kg |2021 June     |1.531                        |
|Bananas per kg |2021 July     |1.531                        |
|Bananas per kg |2021 August   |1.493                        |
|Bananas per kg |2021 September|1.435                        |
|Bananas per kg |2021 October  |1.494                        |
|Bananas per kg |2021 November |1.531                        |
|Bananas per kg |2021 December |1.531                        |
|Bananas per kg |2022 January  |1.395                        |
|Bananas per kg |2022 February |1.495                        |
|Bananas per kg |2022 March    |1.484                        |
|Bananas per kg |2022 April    |1.503                        |
|Bananas per kg |2022 May      |1.519                        |
|Bananas per kg |2022 June     |1.525                        |
|Bananas per kg |2022 July     |1.527                        |
|Bananas per kg |2022 August   |1.549                        |
|Bananas per kg |2022 September|1.56                         |
|Bananas per kg |2022 October  |1.602                        |
|Bananas per kg |2022 November |1.631                        |
|Bananas per kg |2022 December |1.676                        |
|Bananas per kg |2023 January  |1.677                        |
|Bananas per kg |2023 February |1.689                        |
|Bananas per kg |2023 March    |1.689                        |
|Bananas per kg |2023 April    |1.689                        |
|Bananas per kg |2023 May      |1.699                        |
|Bananas per kg |2023 June     |1.699                        |
|Bananas per kg |2023 July     |1.694                        |
|Bananas per kg |2023 August   |1.698                        |
|Bananas per kg |2023 September|1.66                         |
|Bananas per kg |2023 October  |1.72                         |
|Bananas per kg |2023 November |1.728                        |
|Bananas per kg |2023 December |1.732                        |
|Bananas per kg |2024 January  |1.733                        |
|Bananas per kg |2024 February |1.732                        |
+---------------+--------------+-----------------------------+

In [24]:
from pyspark.sql.functions import regexp_replace, lit

# Define a dictionary mapping abbreviated month/year strings to full names
month_year_mapping = {
    "M01": "January", "M02": "February", "M03": "March", "M04": "April", "M05": "May", "M06": "June",
    "M07": "July", "M08": "August", "M09": "September", "M10": "October", "M11": "November", "M12": "December"
}

# Create a regular expression pattern to match month/year strings
pattern = "|".join([f"({year}M{month})" for year in range(2001, 2012) for month in range(1, 13)])

# Replace values in the "Month" column using regexp_replace
merged_df = merged_df.withColumn("Month", regexp_replace("Month", pattern, 
                            lambda x: lit(f"{x[:4]} {month_year_mapping[x[5:]]}")))

# Show the DataFrame
merged_df.show(truncate=False)

TypeError: Invalid argument, not a string or column: <function <lambda> at 0x70de62fcf250> of type <class 'function'>. For column literals, use 'lit', 'array', 'struct' or 'create_map' function.

In [ ]:
# Count the number of observations
mergeddata_count = merged_df.count()

print("Number of observations:", mergeddata_count)

In [ ]:
merged_df.describe()

## EXPORT THE PREPROCESSED DATA TO HADOOP FOR STORAGE

In [ ]:
# Export preprocessed data
preprocessed_data_path = "hdfs://<hadoop_hostname>:<port>/path/to/preprocessed_data.csv"
df_one.write.csv(preprocessed_data_path, mode="overwrite", header=True)